.home {
  color: whitesmoke;
}

.bans {
  height: 100vh;
  background-color: #78b8b8;
  width: 100%;
}

.ban-1 {
  height: 400px;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1595665593673-bf1ad72905c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1628&q=80');
  background-position: bottom;
  display: flex;
  align-items: center;
}

.ban-t1 h2 {
  width: 300px;
  height: 100px;
}

.ban-t1 button {
  margin-top: 20px;
  color: black;
}

.ban-t1 {
  background-color: #2C3333;
  height: 200px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  border-radius: 50px;
  opacity: 0.8;
}

.best-s {
  height: 100vh;
  background-color: #293434;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-cats {
  height: 100vh;
  background-color: #4d4f4f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}