@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.mobile {
    position: absolute;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F0EEED;
}

.mobile svg {
    height: 30px;
    padding-left: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #F0EEED;
    padding-top: 15px;
    padding-bottom: 5px;
    z-index: 2;
}

.nav .nav-buttons .nav-button {
    display: inline-block;
}

.nav-button .nav-tabs {
    font-size: medium;
    background-color: #F0EEED;
    border: none;
}

.nav-button .hover {
    background-color: #F0EEED;
    height: 5px;
}

.nav-button {
    margin: 0 10px 0 10px;
}

.nav-button .show-tab {
    padding-bottom: 5px;
}

.nav-button .show-tab:hover + .hover {
	animation: animate 1s;
    background-color: #86A3B8;
}

@keyframes animate {
	0% {
		width: 0%;
        background: #86A3B8;
	}
    100% {
		width: 100%;
        background: #86A3B8;
	}
}

.user-dashboard {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 2;
}

.user-dashboard svg {
    height: 20px;
}

.hidden-dashboard {
    display: none;
    background-color: #F0EEED;
    border: solid 5px #F0EEED;
    border-radius: 20px;
    box-shadow: 5px 2px 5px 2px #aaaaaa;
    position: absolute;
    top: 32px;
    right: 10px;
    width: 150px;
}

.hidden-dashboard:hover {
    display: block;
}

.user-dashboard:hover + .hidden-dashboard {
    display: block;
}

.hidden-dashboard ul {
    display: block;
    text-align: center;
}

.hidden-dashboard li {
    display: block;
}

.hidden-dashboard button {
    background-color: #F0EEED;
    border: none;
    font-size: medium;
    padding-bottom: 5px;
}

.hidden-dashboard button:hover {
    color: rgb(68, 63, 63);
}

.b-bar {
    height: 45px;
    width: 100%;
    background-color: #F0EEED;
    display: none;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.b-bar .b-tab {
    display: block;
    width: 20%;
    background-color: #F0EEED;
    padding-top: 5px;
    padding-bottom: 5px;
}

.b-bar .b-tab span {
    font-size:x-small;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
}

.b-bar .b-tab div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-bar .b-tab svg {
    height: 20px;
    border-radius: 5px;
}

.s-tab {
    background-color: red;
}

.d-tab {
    border-right-color: #F0EEED;
}

@media only screen and (max-width: 950px) {
    .mobile {
        display: flex;
    }

    .nav {
        margin-top: 30px;
        display: none;
        padding-left: 10px;
        width: 30%;
    }

    .user-dashboard {
        top: 7px;
    }

    .nav .nav-buttons .nav-button {
        display: block;
    }
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 430px) {
    .mobile {
        height: 30px;
    }
    .mobile .svg, .nav {
        display: none;
    }

    .b-bar {
        display: flex;
        bottom: 0;
    }

    .logo {
        display: block;
    }
}

@media only screen and (max-width: 180px) {
    .b-bar .b-tab span{
        display: none;
    }
}
